# Core app
streamlit
pandas
numpy
plotly
statsmodels
pdfplumber
google-generativeai


# Time series modeling
prophet

# Statistical calculations
scipy

# Image and notebook handling
pillow
nbformat

# Optional: for exporting plots to image in Jupyter (if you want to use .svg or .png)
matplotlib

# If using Jupyter to export plots (optional)
notebook
